.tab-option {
    list-style-type: none;
    width: 100%;
    border-bottom: 1px solid #ececec;
}

.tab-item {
    width: fit-content;
}

.active_option {
    border-bottom: 3px solid cadetblue;
}

.avatar {
    width: 12rem;
}

#user_filds {
    list-style-type: none;
}

.user_filds_li_item {
    width: 25rem;
    display: flex;
}
.MuiTextField-root {
    width: 95%;
}
